@tailwind base;

@tailwind components;

@tailwind utilities;

input.pagger {
  width: 50px;
}

.circle-btn {
  @apply text-xs font-semibold flex w-8 h-8 mx-1 p-0 rounded-full items-center justify-center leading-tight relative border border-solid border-orange-500 bg-white text-orange-500;
}

.modal-container {
  width: 100%;
}

@media only screen and (max-width: 400px) {
  .modal-container {
    width: 350px;
  }
}

.top-menu {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.top-menu::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.tableFixHead          { overflow: auto; height: 600px; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }